@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
}

body {
    width: 100vw;
}

header {
    width: 100%;
    background-image: url(images/desktop/image-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
}

h1 {
    font-family: 'Fraunces';
    text-transform: uppercase;
    color: white;
    letter-spacing: 7px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.button {
    border: none;
    padding: 12px 20px;
    color: black;
    background-color: white;
    border-radius: 20px;
    font-family: 'Fraunces';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

header a {
    color: white;
    text-decoration: none;
    font-family: 'Barlow';
}

.nav {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

nav {
    margin: 30px 50px;
}

nav a {
    margin: 15px;
}

.nav svg {
    margin: 30px 50px;
}

.arrow {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 114px;
}

.container {
    width: 1440px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

}
.box1{
    display: flex;
}
.box2{
    margin-top: -4px;
    display: flex;
}
.text1{
    margin-top: auto;
    margin-bottom: auto;
    color: hsl(212, 27%, 19%);
    width: 50%;
}

.text1 h2{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Fraunces';
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
    color: hsl(212, 27%, 19%);
}
.text1 p{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: 'Barlow';
    margin-bottom: 30px;
    color: hsl(213, 9%, 39%);
    font-weight: 600;
}
.text1 a {
    margin: 0 190px;
    width: 50%;
    font-family: 'Fraunces';
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    position: relative;
    color: hsl(212, 27%, 19%);
}

.text1 a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 100%;
    height: 10px;
    opacity: 0.2;
    background-color: hsl(51, 100%, 49%);
    border-radius: 5px; 
}
.text2{
    margin-top: auto;
    margin-bottom: auto;
}

.text2 h2{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Fraunces';
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
    color: hsl(212, 27%, 19%);
}
.text2 p{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-family: 'Barlow';
    margin-bottom: 30px;
    color: hsl(213, 9%, 39%);
    font-weight: 600;
}
.text2 a {
    margin: 0 160px;
    width: 60%;
    font-family: 'Fraunces';
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    position: relative;
    color: hsl(212, 27%, 19%);
    
}

.text2 a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 100%;
    height: 10px;
    opacity: 0.2;
    background-color: hsl(7, 99%, 70%);
    border-radius: 5px; 
}




.img1 {

}
